{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <main id="content" role="main" class="">
      <article class="recipe-article">
        <header class="mb4">
          <span class="ampstart-subtitle block px3 pt2 mb2">{{ page.get_parent.title | upper }}</span>
          {% if request.GET.tag|length %}
              <h3 class="mb1 px3">Showing pages tagged "{{ request.GET.tag }}"</h3>
          {% else %}
              <h3 class="mb1 px3">Showing tagged pages</h3>
          {% endif %}

  <!-- Start byline -->
  <!-- End byline -->
  </header>
  {% for post in blogpages %}
  <section class="px3 mb4 mt4">
      <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
      <address class="ampstart-byline clearfix px3 h5">
        <time class="ampstart-byline-pubdate block bold my1" datetime="{{ page.date }}">{{ post.specific.date }}</time>
      </address>
      {% with post.specific.image as main_image %}
          {% if main_image %}
          {% image main_image fill-720x400 as image_data %}
          <amp-img src="{{ image_data.url }}" width="720" height="400" alt="{{ image_data.alt }}" attribution="{{ main_image.caption }}" layout="responsive"></amp-img>
          {% endif %}
      {% endwith %}
      <h4>{{ post.specific.intro }}</h4>
    </section>
  {% empty %}
      <section class="px3 mb4 mt4">
        <h2>No pages found with that tag.</h2>
        </section>
  {% endfor %}
      </article>
    </main>
{% endblock %}
