{% extends "catalog/catalog_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block meta %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ self.get_site.site_name }}"/>
<meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} {% with self.get_site.site_name as site_name %}{% if site_name %}&middot; {{ site_name }}{% endif %}{% endwith %}" />
<meta property="og:description" content="{{ page.title }} by {{ page.author }}" />
<meta property="og:image" content="{% with page.catalog_gallery_images.first.image as main_image %}{% image main_image max-960x960 format-jpeg as image_data %}{{ image_data.url }}{% endwith %}" />

<meta name="subject" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} {% with self.get_site.site_name as site_name %}{% if site_name %}&middot; {{ site_name }}{% endif %}{% endwith %}" />
<meta name="description" content="{{ page.title }} by {{ page.author }}" />
<meta name="url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <main id="content" role="main" class="">
      <article class="recipe-article">
        <header>
          <span class="ampstart-subtitle block px3 pt2 mb2">{{ page.get_parent.title | upper }}</span>
          <hr/>
          <h1 class="px3 mb2">Title: {{ page.title }}</h1>
          <h2 class="px3">Author: {{ page.author }}</h2>
          <h2 class="px3">Publisher: {{ page.publisher }}</h2>

  <!-- Start byline -->
  <!-- End byline -->
        </header>
        <section class="px3 mb4">

        </section>

        <section class="px3 mb4">
        <amp-carousel
        id="carousel-with-preview"
        width="960"
        height="720"
        layout="responsive"
        type="slides"
        >
        {% for images in page.catalog_gallery_images.all %}
        {% image images.image max-960x960 format-jpeg as image_data %}
              <amp-img src="{{ image_data.url }}" width="{{ image_data.width }}" height="{{ image_data.height }}" alt="{{ image_data.alt }}" attribution="{{ image_data.alt }}" layout="responsive"></amp-img>
        {% endfor %}
        </amp-carousel>
        <amp-selector id="carouselSelector"
        on="select:carousel.goToSlide(index=event.targetOption)"
        layout="container">
        <amp-carousel id="carouselPreview"
        class="carousel-preview flex"
        height="116"
        layout="fixed-height"
        type="carousel" style="align-items: center;justify-content: center;">
        {% for images in page.catalog_gallery_images.all %}
        <button on="tap:carousel-with-preview.goToSlide(index={{forloop.counter0}})">
        {% image images.image max-96x96 format-jpeg as image_data %}
          <amp-img
            src="{{ image_data.url }}" width="{{ image_data.width }}" height="{{ image_data.height }}" alt="{{ image_data.alt }}"
          ></amp-img>
        </button>
        {% endfor %}
        </amp-carousel>
        </amp-selector>
        </section>

        <p class="px3 mb4"><a href="{{ page.get_parent.url }}">Return to home page</a></p>
      </article>
    </main>
{% endblock %}
