{% extends "catalog/catalog_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block meta %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ self.get_site.site_name }}"/>
<meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} {% with self.get_site.site_name as site_name %}{% if site_name %}&middot; {{ site_name }}{% endif %}{% endwith %}" />
<meta property="og:description" content="{{ page.intro }}" />
<meta property="og:image" content="{% with catalogpages.first.catalog_gallery_images.first.image as main_image %}{% image main_image max-960x960 format-jpeg as image_data %}{{ image_data.url }}{% endwith %}" />

<meta name="subject" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} {% with self.get_site.site_name as site_name %}{% if site_name %}&middot; {{ site_name }}{% endif %}{% endwith %}" />
<meta name="description" content="{{ page.intro }}" />
<meta name="url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <main id="content" role="main" class="">
      <article class="recipe-article">
        <header class="mb4">
          <span class="ampstart-subtitle block px3 pt2 mb2">{{ page.title | upper }}</span>
          <h3 class="mb1 px3">{{ page.intro | richtext }}</h3>

  <!-- Start byline -->
  <!-- End byline -->
  </header>

  <section class="clearfix">
  {% for post in catalogpages %}
    <div class="col col-6 md-col-4 p1">
      <a href="{% pageurl post %}">
      {% with post.specific.catalog_gallery_images.first.image as main_image %}
          {% image main_image max-640x640 format-jpeg as image_data %}
          <amp-img src="{{ image_data.url }}" width="{{ image_data.width }}" height="{{ image_data.height }}" alt="{{ image_data.alt }}" attribution="{{ main_image.caption }}" layout="responsive" media="(max-width: 640px)"></amp-img>
          {% image main_image max-960x960 format-jpeg as image_data %}
          <amp-img src="{{ image_data.url }}" width="{{ image_data.width }}" height="{{ image_data.height }}" alt="{{ image_data.alt }}" attribution="{{ main_image.caption }}" layout="responsive" media="(min-width: 641px)"></amp-img>
      {% endwith %}
      </a>
    </div>

  {% endfor %}
  </section>
      </article>
    </main>

{% endblock %}
